*{
    margin: 0;
    padding: 0;
}

html{
    background-color: bisque;
    width: 100%;
    height: 100%;
    font-family: calculatorFont;
    font-weight: 1000;
    font-size: 30px;
}

body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@font-face{
    font-family: calculatorFont;
    src: url(./font/Calculator.ttf);
}

@font-face{
    font-family: technology;
    src: url(./font/technology.bold.ttf);
}

.instructions{
    font-family: technology;
    letter-spacing: 2px;
    width: 460px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#esc, #backspace{
    gap: 15px;
    display: flex;
    align-items: center;
}

.calculator{
    background-color: rgb(184, 181, 181);
    height: 550px;
    width: 440px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 4px 4px 6px black;
    padding: 20px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
}

.calcDisplay{
    background-color: rgb(96, 150, 96);
    width: 420px;
    height: 80px;
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 2px 2px black;
    margin-bottom: 25px;
    order: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.calcDisplay .displayText{
    padding: 0px 8px 5px 0px;
}

.buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 420px;
}

.numbers{
    width: 300px;
    height: 450px;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.numbers button {
    background-color: grey;
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 2px 2px black;
    flex: 1 0 auto;
    height: 80px;
    width: 80px;
    font-family: calculatorFont;
    font-size: 28px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

button.dot{
    max-width:87px;
}

.operators{
    height: 450px;
    width: 90px;
    gap: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.operators button {
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 2px 2px black;
    flex: 1 0 auto;
    max-height: 60px;
    min-width: 100px;
    font-family: calculatorFont;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.plus{
    background-color: rgb(54, 201, 54);
}

.minus{
    background-color: rgb(204, 23, 23);
}

.multiply{
    background-color: aquamarine;
}

.divide{
    background-color: rgb(228, 228, 24);
}

button.clicked{
    box-shadow: inset 3px 3px black;
}